<!DOCTYPE html>
<html>

  <head>
  	<style type="text/css">

       table {
       	width: 1200px;
       }

       th, td {
       	padding: 10px 10px 10px 10px 10px 10px 10px;
       }       


  	</style>


  </head>


  <body>

	<% if current_user.gender_cases.empty? %>

	    <h4><%= current_user.username %>,</h4>

	     You have no data saved yet please click the following link to begin your search: <br>

	<% else %>

			<p>Here is a list of your statewide COVID-19 data by age group</p>

			<p>Click on date to drill down on more data take to show page for each instance data by gender<br>

			<table>

			  <tr>

			  	<th>Date</th>
			  	<th>Gender</th>
			  	<th>Cases</th>
			  	<th>Deaths</th>
					

			  </tr>
				
					<% @gender_cases.each do |gender| %>
					<tr>			
					   <td> <%= link_to gender.query_date.strftime('%m/%d/%Y'), user_gender_case_path(current_user.id, gender.id) %></td>
					   <td><%= gender.gender %></td>
					   <td><%= gender.confirmed_cases %></td>
					   <td><%= gender.confirmed_deaths %></td>

					</tr>
					<% end %>
			</table>

	<% end %>

	<br>
	<%= link_to "Select Additional Dates", new_user_state_path(current_user) %>
	
	</body>		 
</html>








