	<%= render partial: "shared/pageinfo", locals: {pagetitle: controller_name.titleize} %>

	<% if current_user.gender_cases.empty? %>

	     You have no data saved yet please click the following link to begin your search: <br>

	<% else %>

			<table>

        	  <%= button_to "Delete All", {:controller => :gender_cases, :action => :destroy_all}, :method => 'delete', data: { confirm: 'Are you sure?'} %><br> 				

			  <tr>

			  	<th>Delete</th>
			  	<th>Date</th>
			  	<th>Gender</th>
          		<th>Confirmed Cases</th>
          		<th>Case Change</th>
          		<th>Deaths</th>
          		<th>Death Change</th>
					

			  </tr>
			  <br>
				
					<% @gender_cases.each do |gender| %>
					<tr>
					   <td><%= button_to gender_case_path(gender.id), :method => 'delete' do  %> 
					   	<span style="font-size: 15px; color: Dodgerblue;">
					   	  <i class="fa fa-trash"></i>
					   	</span>
					   	<% end %></td>						   
					   <td> <%= gender.query_date.strftime('%m/%d/%Y')%></td>
					   <td><%= gender.gender %></td>
             		   <td><%= number_with_delimiter(gender.confirmed_cases) %> </td>
			           <td><%= gender.case_change == 0 ? "**" : gender.case_dir %><%= number_with_delimiter(gender.case_change) %> </td>
			           <td><%= number_with_delimiter(gender.confirmed_deaths) %> </td>
			           <td><%= gender.death_change == 0 ? "**" : gender.death_dir %><%= number_with_delimiter(gender.death_change) %> </td>
					</tr>
					<% end %>
			</table>

	<% end %>

	<br>
	<%= link_to "Select Additional Dates", new_user_gender_case_path(current_user) %>
	








