
	<% if current_user.ethnic_cases.empty? %>

	    <h4><%= current_user.username %>,</h4>

	     You have no data saved yet please click the following link to begin your search: <br>

	<% else %>

			<p>Here is a list of your STATEWIDE COVID-19 data by ETHNICITY</p>
			<br>

			<table>

			<%= button_to "Delete All", {:controller => :ethnic_cases, :action => :destroy_all}, :method => 'delete', data: { confirm: 'Are you sure?'} %><br>				

			  <tr>

			  	<th>Delete</th>
			  	<th>Date</th>
			  	<th>Ethnic Group</th>
			  	<th>Population</th>
	          	<th>Total Cases</th>
          		<th>Case Change</th>
          		<th>Deaths</th>
          		<th>Death Change</th>
					

			  </tr>
			  <br>
				
					<% @ethnic_cases.each do |ethnic_case| %>

					<tr>
					   <td><%= button_to ethnic_case_path(ethnic_case.id), :method => 'delete' do  %> 
					   	<span style="font-size: 15px; color: Dodgerblue;">
					   	  <i class="fa fa-trash"></i>
					   	</span>
					   	<% end %></td>	
					   <td><%= ethnic_case.query_date.strftime('%m/%d/%Y') %></td>
					   <td><%= ethnic_case.ethnic_group.gsub("NH",'').strip %></td>
					   <td><%= ethnic_case.total_pop == 0 ? "Unknown" : number_with_delimiter(ethnic_case.total_pop) %></td>
             		   <td><%= number_with_delimiter(ethnic_case.case_tot) %> </td>
			           <td><%= ethnic_case.case_change == 0 ? "**" : ethnic_case.case_dir %><%= number_with_delimiter(ethnic_case.case_change) %> </td>
			           <td><%= number_with_delimiter(ethnic_case.deaths) %> </td>
			           <td><%= ethnic_case.death_change == 0 ? "**" : ethnic_case.death_dir %><%= number_with_delimiter(ethnic_case.death_change) %> </td>


					</tr>
					<% end %>
			</table>

	<% end %>

	<br>
	<%= link_to "Select Additional Dates", new_user_ethnic_case_path(current_user) %>
	










