 <%= render "shared/errors" if flash[:alert] %>

 <%= form_tag user_ethnic_cases_path do %>

   <%= render "shared/input_dates" %>

   <div><%= collection_select :ethnic_case_lookup_id, EthnicCaseLookup.all, EthnicCaseLookup.order(:name), :id, :name, {:prompt => 'Select Ethnic Group'}, {multiple: true} %>
   </div>
   
   <br>  	
 
   <%= submit_tag "Submit" %>

<% end %>