
      <h4>Age Group: <%= @age_group.age_group %></h4>

      <h4>Date: <%= @age_group.query_date %></h4>

    <ul>

      <br>Total Cases:</br><%= @age_group.total_cases %>

      <br>Total Case Rate:</br><%= @age_group.total_case_rate %>

      <br>Total Deaths:</br><%= @age_group.total_deaths %>

     </ul>


