<!DOCTYPE html>
<html>

  <head>
  	<style type="text/css">

       table {
       	width: 1200px;
       }

       th, td {
       	padding: 10px 10px 10px 10px 10px 10px 10px;
       }       


  	</style>


  </head>


  <body>

	<% if current_user.states.empty? %>

	    <h4><%= current_user.username %>,</h4>

	     You have no data saved yet please click the following link to begin your search: <br>

	<% else %>

			<p>Here is a list of your STATEWIDE COVID-19 data by date</p>
			<br>

			<table >

			  <tr>

			  	<th>Delete</th>
			  	<th>Date</th>
			  	<th>Total Tests</th>
			  	<th>Test Change</th>
			  	<th>Total Cases</th>
			  	<th>Case Change</th>
			  	<th>Hospitalizations</th>
			  	<th>Hospitalized</th>
			  	<th>Deaths</th>
			  	<th>Death Change</th>



					


			  </tr>
				
					<% @states.each do |state| %>

					<tr>	
					   <td><%= button_to "Delete", {:controller => :states, :action => :destroy, :id => state.id}, :method => 'delete' %></td>		
					   <td><%= state.query_date.strftime('%m/%d/%Y') %> </td>
					   <td><%= state.total_tests %> </td>
					   <td><%= state.test_dir %> <%= state.test_change %> </td>
					   <td><%= state.total_cases %> </td>
					   <td><%= state.case_dir %> <%= state.case_change %> </td>
					   <td><%= state.hospitalized_cases %> </td>
					   <td><%= state.hosp_dir %> <%= state.hospitalized_change %> </td>
					   <td><%= state.confirmed_deaths %> </td>
					   <td><%= state.death_dir %> <%= state.death_change %> </td>


					</tr>
					<% end %>
			</table>

	<% end %>

<br>
	<%= link_to "Select Additional Dates", new_user_state_path(current_user) %>
	
	</body>		 
</html>










