<h1>States#show</h1>



    <h3>Date: <%= @state.name %></h3>  
    <h4>Date: <%= @state.query_date %></h4>

    <ul>
      <br>Total Tests:</br><%= @state.total_tests %>

      <br>Total Cases:</br><%= @state.total_cases %>

      <br>Confirmed Cases:</br><%= @state.confirmed_cases %>

      <br>Hospitalized Cases:</br><%= @state.hospitalized_cases %>

      <br>Confirmed Deaths:</br><%= @state.confirmed_deaths %>

     </ul>  


