<h1>States#show</h1>
<p>Find me in app/views/states/show.html.erb</p>

	   <%= @state.query_date %> 
       <%= @state.name %>
       <%= @state.total_tests %>
       <%= @state.total_cases %>
       <%= @state.confirmed_cases %>
       <%= @state.hospitalized_cases %>
       <%= @state.confirmed_deaths %>

       


