  <%= render partial: "shared/pageinfo", locals: {pagetitle: controller_name.titleize} %>

  <% if current_user.counties.empty? %>

       You have no data saved yet please click the following link to begin your search: <br>

  <% else %>

      <table >

        <%= button_to "Delete All", {:controller => :counties, :action => :destroy_all}, :method => 'delete', data: { confirm: 'Are you sure?'} %><br>        

        <tr>

          <th>Delete</th>
          <th>Date</th>
          <th>County Name</th>
          <th>Confirmed Cases</th>
          <th>Case Change</th>
          <th>Hospitalizations</th>
          <th>Hospitalized</th>
          <th>Deaths</th>
          <th>Death Change</th>

        </tr>
        <br>
        
          <% @counties.map do |county| %>
          <tr>      
             <td><%= button_to county_path(county.id), :method => 'delete' do  %> 
              <span style="font-size: 15px; color: Dodgerblue;">
                <i class="fa fa-trash"></i>
              </span>
              <% end %></td>  
             <td><%= county.query_date.strftime('%m/%d/%Y') %> </td>
             <td><%= county.name %> </td>
             <td><%= number_with_delimiter(county.confirmed_cases) %> </td>
             <td><%= county.case_change == 0 ? "**" : county.case_dir %><%= number_with_delimiter(county.case_change) %></td>
             <td><%= number_with_delimiter(county.hospitalizations) %> </td>
             <td><%= county.hospitalized_change == 0 ? "**" : county.hosp_dir %><%= number_with_delimiter(county.hospitalized_change) %></td>
             <td><%= number_with_delimiter(county.confirmed_deaths) %> </td>
             <td><%= county.death_change == 0 ? "**" : county.death_dir %><%= number_with_delimiter(county.death_change) %></td>


          </tr>
          <% end %>
      </table>

  <% end %>
<br>
  <%= link_to "Select Additional Dates", new_user_county_path(current_user) %>
  









