 <%= render "shared/errors" if flash[:alert] %>

 <%= form_tag user_counties_path do %> 

   <%= render "shared/input_dates" %>
  
   <div><%= collection_select :county_lookup_id, CountyLookup.all, CountyLookup.order(:name), :id, :name, {:prompt => 'Select County'}, {multiple: true} %>
   </div>

   <br>	
 
   <%= submit_tag "Submit" %>

<% end %>