<!DOCTYPE html>
<html>

  <head>
  	<style type="text/css">

       table {
       	width: 1200px;
       }

       th, td {
       	padding: 10px 10px 10px 10px 10px 10px 10px;
       }       


  	</style>


  </head>


  <body>

	<% if current_user.age_groups.empty? %>

	    <h4><%= current_user.username %>,</h4>

	     You have no data saved yet please click the following link to begin your search: <br>

	<% else %>

			<p>Here is a list of your STATEWIDE COVID-19 data by AGE GROUP</p>
			<br>

			<table>

        	  <%= button_to "Delete All", {:controller => :age_groups, :action => :destroy_all}, :method => 'delete', data: { confirm: 'Are you sure?'} %><br> 				

			  <tr>

			  	<th>Delete</th>
			  	<th>Date</th>
			  	<th>Age Group</th>
          		<th>Confirmed Cases</th>
          		<th>Case Change</th>
          		<th>Deaths</th>
          		<th>Death Change</th>
					

			  </tr>
			  <br>
				
					<% @age_groups.each do |age_group| %>
					<tr>
                       <td><%= button_to "Delete", {:controller => :age_groups, :action => :destroy, :id => age_group.id}, :method => 'delete' %></td>								
					   <td> <%= age_group.query_date.strftime('%m/%d/%Y') %></td>
					   <td><%= age_group.age_group %></td>
             		   <td><%= number_with_delimiter(age_group.confirmed_cases) %> </td>

			           <td><%= age_group.case_change == 0 ? "**" : age_group.case_dir %><%= number_with_delimiter(age_group.case_change) %> </td>
			           <td><%= number_with_delimiter(age_group.death_change) %> </td>
			           <td><%= age_group.death_change == 0 ? "**" : age_group.death_dir %><%= number_with_delimiter(age_group.death_change) %> </td>
					</tr>
					<% end %>
			</table>

	<% end %>

	<br>
	<%= link_to "Select Additional Dates", new_user_age_group_path(current_user) %>
	
	</body>		 
</html>








