 <%= render "shared/errors" if flash[:alert] %>

 <%= form_tag user_age_groups_path do %> 

   <%= render "shared/input_dates" %>
  
   <div><%= collection_select :age_group_lookup_id, AgeGroupLookup.all, AgeGroupLookup.order(:name), :id, :name, {:prompt => 'Select Age Group'}, {multiple: true} %>
   </div>
  
   <br>	

   <%= submit_tag "Submit" %>

<% end %>