<!DOCTYPE html>
<html>

  <head>
  	<style type="text/css">

       table {
       	width: 1200px;
       }

       th, td {
       	padding: 10px 10px 10px 10px 10px 10px 10px;
       }       


  	</style>


  </head>


  <body>

	<% if @user.states.empty? %>

	    <h3><b>Welcome <%= @user.username %>!</b></h3>

	     You have no data saved yet please click the following link to begin your search for <%= link_to "Connecticut COVID-19 Cases", new_user_state_path(@user) %>


	<% else %>
		<br>
	    <h3><b>Welcome <%= @user.username %>!</b></h3>

			<p>Your last log in was: <%= @user.updated_at.strftime("%A %B %e, %Y at %I:%M %P") %></p><br>

			<p>Here is a list of your statewide COVID-19 data by date</p>

			<p>Click on date to drill down on more data take to show page for each instance of state</p><br>

			<table>
				<tr>
					<% @user.states.column_names[2..-3].map do |col_name| %>		
					  <th colspan="1.5"> <%= col_name.split("_").join(" ").titleize %></th>
						<td></td>
					<% end %>
				</tr>
				
					<% @user.states.map do |state| %>
					<tr>			
					   <td colspan="2"> <%= link_to state.query_date, user_states_path(state.id) %></td>
					   <td colspan="2"> <%= state.name %></td>
					   <td colspan="2"> <%= state.total_tests %> </td>
					   <td colspan="2"> <%= state.total_cases %> </td>
					   <td colspan="2"> <%= state.confirmed_cases %> </td>
					   <td colspan="2"> <%= state.hospitalized_cases %> </td>
					   <td colspan="2"> <%= state.confirmed_deaths %> </td>
					</tr>
					<% end %>
			</table>

	<% end %>
	</body>		 
</html>








