
<% if user_signed_in? %>
	<h3><b>Welcome <%= current_user.username %>!</b></h3>
	<%= DateTime.now%>

	<p> Logged in on: <%= current_user.current_sign_in_at %></p>
	<p> Last log in on: <%= current_user.last_sign_in_at%></p><br>

	<%= link_to :Logout, destroy_user_session_path, method: :delete %>

<% end %>

