
	<h3><%= @post.title%></h3>
	<%= @post.user.username %> posted on
	<%= Time.parse(@post.created_at.to_s).localtime.strftime('%a %B %e, %Y %I:%M %p') %>
	
	<div class="field">
	  <%= @post.content %>
	</div>

	   <% num_posts = @post.comments.count %> 
	   <b><%= pluralize(num_posts, "comment") %></b>

       <div class="comments"> 
	      <% @post.comments.each do |comment| %>
	        <% if !comment.remarks.empty? %>
	           <p><%= comment.user.username %> commented: <%= time_ago_in_words(comment.created_at) %> ago</p>
	           <p><%= comment.remarks %><p>
	        <% end %>
	        <br>
	      <% end %>
       </div>

 
<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h3>

    <ul>
      <% @comment.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>      
    

 
 <%= form_for([@post,@post.comments.build]) do |f| %>
   <div class="field">
     <%= f.label "comment" %><br />
     <%= f.text_field :remarks %>
   </div>

    <div class="action">
      <%= f.submit %>
    </div>
    <% end %>
	<br>

	<div class="button_position">
	  <%= button_to "Edit Post", {:controller => :posts, :action => :edit, :id => @post.id}, :method => 'get' %>	 
	  
	  <span style="width: 10px"></span>
	  
	  <%= button_to "Delete Post", {:controller => :posts, :action => :destroy, :id => @post.id}, :method => 'delete' %>

	</div>	

