
  <% if current_user.towns.empty? %>

      <h4><%= current_user.username %>,</h4>

       You have no data saved yet please click the following link to begin your search: <br>

  <% else %>

      <p>Here is a list of your TOWNWIDE COVID-19 data by date</p>
      <br>

      <table >

        <%= button_to "Delete All", {:controller => :towns, :action => :destroy_all}, :method => 'delete', data: { confirm: 'Are you sure?'} %><br>         

        <tr>

          <th>Delete</th>
          <th>Date</th>
          <th>Town Name</th>
          <th>Total Tests</th>
          <th>Test Change</th>          
          <th>Confirmed Cases</th>
          <th>Case Change</th>
          <th>Deaths</th>
          <th>Death Change</th>   


        </tr>
        <br>
        
          <% @towns.map do |town| %>
          <tr>   
             <td><%= button_to "Delete", {:controller => :towns, :action => :destroy, :id => town.id}, :method => 'delete' %></td>   <td> <%= town.query_date.strftime('%m/%d/%Y') %></td>
             <td><%= town.name %> </td>
             <td><%= number_with_delimiter(town.total_tests)%></td> 
             <td><%= town.test_change == 0 ? "**" : town.test_dir %><%= number_with_delimiter(town.test_change) %></td>
             <td><%= number_with_delimiter(town.confirmed_cases) %></td>
             <td><%= town.case_change == 0 ? "**" : town.case_dir %><%= number_with_delimiter(town.case_change) %></td> 
             <td><%= number_with_delimiter(town.confirmed_deaths) %></td>
             <td><%= town.death_change == 0 ? "**" : town.death_dir %><%= number_with_delimiter(town.death_change) %></td>


          </tr>
          <% end %>
      </table>

  <% end %>

<br>
  <%= link_to "Select Additional Dates", new_user_town_path(current_user) %>
  











