 <%= render "shared/errors" if flash[:alert] %>

 <%= form_tag user_towns_path do %> 

   <%= render "shared/input_dates" %>
  
   <div><%= collection_select :town_lookup_id, TownLookup.all, TownLookup.order(:name), :id, :name, {:prompt => 'Select Town'}, {multiple: true} %>
   </div>

   <br>	

   <%= submit_tag "Submit" %>

<% end %>