<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CTCovid19Tracker</title>

    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    


  </head>


  <body>   
       
            <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                Connecticut COVID-19 Tracker System
            </div>
                <br>


                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar">
                                <div class="tabs is-right">
                                    <div class="navbar-item-is-bold">
                                    <ul>
                                        <li><%= link_to "About", about_path if user_signed_in?  %></li>
                                        <li><%= link_to "Daily Summary", state_summary_path if user_signed_in?  %></li>
                                        <li><%= link_to "State Totals", user_states_path(current_user) if user_signed_in? %></li> 
                                        <li><%= link_to "County Totals", user_counties_path(current_user) if user_signed_in? %></li>
                                        <li><%= link_to "Town Totals", user_towns_path(current_user) if user_signed_in? %></li>
                                        <li><%= link_to "Age Group Data", user_age_groups_path(current_user) if user_signed_in? %></li>
                                        <li><%= link_to "Gender Data", user_gender_cases_path(current_user) if user_signed_in? %></li>
                                        <li><%= link_to "Etrhnic Group Data", user_ethnic_cases_path(current_user) if user_signed_in? %></li>
                                        <li><%= link_to "Posts", posts_path if user_signed_in? %></li>
                                        <li><%= link_to "Delete User", destroy_user_path(current_user), method: :delete, data: { confirm: "Are You Sure You Want To Delete Your Account?" } if user_signed_in? %></li>


                                        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete if user_signed_in? %></li>
                                    </ul>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <br>

                <div class="tile is-ancestor is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical"></div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-white">

                                <% if user_signed_in? && !@page_with_errors%>
                                     <p> Last login:  <%= Time.parse(current_user.last_sign_in_at.to_s).localtime.strftime('%a %B %e, %Y at %I:%M %p') %><p>
                                        <div class="date_display"> Today is <%= Date.today.strftime('%A %B %d, %Y') %></div>
                                
                                      <div id="time" class="time_display"></div>

                                        <script type="text/javascript">
                                           startTime();
                                        </script> 
                                     <br>
                                     <br>

                                <% end %>

                               

        <%= yield %>
                                </article>
                            </div>                                                            
                        </div>
                </div>
        <div class="tile is-parent is-shady"></div>
        
    </body>
</html>
