<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CTCovid19Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>


  <body>   
       
            <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <h1>Connecticut COVID-19 Tracker System</h1>



                <nav class="navbar">
                    <div class="container">

                        
                            <div class="navbar-brand">
 
                                <span></span>
                                <span></span>
                                <span></span>
                                </span>
                            </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li class="is-active"><a>Home</a></li>
                                        <li></a><%= link_to "Daily Summary", state_summary_path %></li>
                                        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                                        
                                        <li><a href="">Team</a></li>
                                        <li><a href="">Help</a></li>
                                    </ul>

                                            
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div><br><br>

                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">

                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-white">

                                <% if user_signed_in? %>
                                    <h3><b>Welcome <%= current_user.username  %>!</b></h3> 

                                    <div id="date" class="date_display" >
                                        <%= Date.today.strftime('%A %B %d, %Y') %>
                                    </div>
                                    <div  id="time" class="time_display"></div>
<script type="text/javascript">
function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    // add a zero in front of numbers<10
    m = checkTime(m);
    s = checkTime(s);

    // Choose either "AM" or "PM" as appropriate
    var timeOfDay = ( h < 12 ) ? "AM" : "PM";

    // Convert the hours component to 12-hour format if needed
    h = ( h > 12 ) ? h - 12 : h

    // Convert an hours component of "0" to "12"
    h = ( h == 0 ) ? 12 : h;


    document.getElementById('time').innerHTML = h + ":" + m + ":" + s + " " + timeOfDay;
    t = setTimeout(function () {
        startTime()
    }, 500);
}
startTime();
</script> 

    <br>
    <p> Last logged in on:  <%= Time.parse(current_user.last_sign_in_at.to_s).localtime.strftime('%A %B %e, %Y at %I:%M %p')%></p><br>

<% end %>


    <%= yield %>

    

</div>


                                                                    </article>
                                                                </div>
                                                            </div>

                                                                </article>
                                                            </div>
                                                        </div>

                                                    </div>

                    <div class="tile is-parent is-shady">

                    </div>
                </div>
            </div>
        </section>

        

    </body>
</html>
